package solution

import (
	"testing"

	"github.com/stretchr/testify/assert"
)

var {{ .FuncName }}Input = `xxx
	yyy`

func Test_{{ .FuncName }}1(t *testing.T) {
	result := {{ .FuncName }}1({{ .FuncName }}Input)
	assert.Equal(t, "right", result)
}

func Test_{{ .FuncName }}2(t *testing.T) {
	result := {{ .FuncName }}2({{ .FuncName }}Input)
	assert.Equal(t, "still right!", result)
}
