package solution

func init() {
	register("{{ .Year }}:{{ .Day }}:1", {{ .FuncName }}1)
    register("{{ .Year }}:{{ .Day }}:2", y{{ .Year }}d{{ .Day}}part2)

}

func {{ .FuncName }}1(input string) string {
	return "wrong"
}

func {{ .FuncName }}2(input string) string {
	return "wrong again"
}
